# ignore obsidian config files
.obsidian

# ignore ArcGIS Pro files
*.aprx
*.atbx
ImportLog
Index
OptimalVisibilityTool.gdb
GpMessages
scratch.gdb
/log

# ignore PyCharm config files
.idea

# ignore exported maps
Layouts

# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

